
body {
  margin: 0;
}
@import 'bulma/css/bulma.css';
.scrolling-wrapper {
  overflow-x: scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
 .avatar {
  border-radius: 50%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.video2 {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#rcorners {
  border-radius: 250px;
}

.fade-in-3 {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.fade-in-2 {
  animation: fadeIn ease 6s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.fade-in-1 {
  animation: fadeIn ease 8s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-in-4 {
  animation: fadeIn4 ease 12s;
}
@keyframes fadeIn4 {
  0% {
    opacity:.3;
  }
  100% {
    opacity:1;
  }
}

.column {
  display: flex;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
}
